mat-toolbar{
    .spacer{
        flex: 1 1 auto;
    }

    .user-info {
        display: flex;
        align-items: center;

        .name {
            margin-right: 1rem;;
        }

        button {
            margin-left: 0.6rem;
          
        }
    }
}